<!DOCTYPE html>
<html>
    <head>
        <title>New Recipe</title>
    </head>
    <body>
        <h2>New Recipe</h2>
        <form method="POST" action="/recipes">
            <h3>Name:</h3>
            <input type="text" name="name" id="name">
            <h3>Ingredients:</h3>
            <input type="text" name="ingredients" id="ingredients">
            <h3>Cook Time:</h3>
            <input type="text" name="cook_time" id="cook_time">
            <input type="submit" name="submit" id="submit">
        </form>
    </body>
</html>