<form action= "/recipes" method="POST" >

  <label for "name">Recipe Name:</label>
  <input id="recipe_name" input type= "text" name="recipe[name]">

  <label for "Ingredients">Recipe Ingredients:</label>
  <input id="ingredients" input type= "text" name="recipe[ingredients]">

  <label for "cook_time">Recipe Cook Time:</label>
  <input id="cook_time" input type= "text" name="recipe[cook_time]">

  <input type="submit" value= "Submit">


  </form>
